{% extends 'base.html' %}


{% block title %} Logger | Login {% endblock %}


{% block content %}

<section class="max-w-md mx-auto mb-24 px-8 min-h-screen">

    <div class="mt-20 shadow-[0_0_20px_theme('colors.indigo.600')] flex justify-center items-center flex-col p-4 rounded-xl">

        <h1 class="text-xl mt-8 text-indigo-500">Login to your account</h1>


        <form method="POST" class="flex flex-col items-center justify-center gap-4 mt-8">
            {% csrf_token %}
            <input type="text" placeholder="Username" class="w-full outline-0 bg-[#010409] border border-zinc-800 px-3 py-1.5 rounded focus:ring-1 ring-indigo-600" name="username">
            <input type="password" placeholder="Password" class="w-full outline-0 bg-[#010409] border border-zinc-800 px-3 py-1.5 rounded focus:ring-1 ring-indigo-600" name="password" >
            <span class="text-sm">Dont have account? <a class="text-indigo-500 underline" href="{% url 'signup' %}">Sign up</a></span>

            <button type="submit" class="mt-16 bg-indigo-600 rounded-lg w-full sm:w-1/2 py-1 transition hover:translate-y-1 hover:bg-indigo-700 ">
                Login
            </button>
        </form>


    </div>


</section>

{% endblock content %}