{% extends 'base.html' %}


{% block title %} Logger | About {% endblock %}


{% block content %}

<section class="max-w-lg mx-auto mb-24 px-4 min-h-screen">

    <div class="mt-10 flex justify-center flex-col p-4 rounded-xl">

        <h1 class="text-2xl mb-4 text-indigo-500">About</h1>

        <p dir="auto" class="text-sm text-justify">
            لاگر چیست؟‌ لاگر یک وب اپلیکیشن مانند توییتر است که کاربران می توانند بجای توییت لاگ بزنند. لاگر اکثر قابلیت های یک سوشیال مدیا را دارد مانند لایک ریپلای و فالو و غیره اگر مایل به همکاری در لاگر بودید می توانید به صفحه گیتهاب سازنده لاگر مراجعه کنید.
        </p>
        <!-- <p dir="auto" class="text-sm mt-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa labore, architecto eveniet quas sunt fugiat unde nostrum numquam eligendi voluptate expedita soluta harum cum. Libero consequatur accusamus a ipsa!</p> -->

    </div>


</section>

{% endblock content %}