{% extends 'base.html' %}


{% block title %} Logger | About {% endblock %}


{% block content %}

<section class="max-w-lg mx-auto mb-24 px-4 min-h-screen">

    <div class="mt-10 flex justify-center flex-col p-4 rounded-xl">

        <h1 class="text-2xl mb-4 text-indigo-500">About</h1>

        <p dir="auto" class="text-sm text-justify">
            <strong>What is Logger?</strong> Logger is a Twitter-like web application. It has most social networking features like, reply, follow etc. If you want to contribute to the Logger project, you can refer the Github page.
        </p>

        <h1 class="text-2xl mt-4 mb-4 text-indigo-500">Developers</h1>

        <p dir="auto" class="text-sm text-justify">
            Made With ❤️ By <a href="https://pycloud.space" class="underline text-blue-500">AFz</a>.
        </p>
    </div>


</section>

{% endblock content %}